.grid_container { margin: 0 2rem; }
.grid_container .container { width: 100%; height: 600px; }
.item { display: inline-block; width: calc(25% - 5px); opacity: 0; transition: all ease 1s 0.5s; transform: scale(0); }
.placeholder { width: calc(25% - 5px); border-radius: 5px; background: #eee; height: 250px; }
.item.animate { transition: opacity ease 1s; opacity: 1; }
.item.animated { opacity: 1; transform-origin: 50% 50%; transform: scale(1); }
.masonrygrid.horizontal .item { width: auto; height: 250px; }
.item .thumbnail { overflow: hidden; border-radius: 8px; }
.item .thumbnail img { width: 100%; border-radius: 8px; }
.masonrygrid.horizontal .item .thumbnail img { width: auto; height: 210px; }
.loading { position: absolute; width: 100%; height: 50px; line-height: 50px; text-align: center; }
.addPhoto_container .btn_add { position: fixed; bottom: 50px; right: 20px; width: 50px; height: 50px; border-radius: 30px; background: #000000; cursor: pointer; }
.addPhoto_container .btn_add span { display: block; width: 100%; height: 100%; font-size: 40px; text-align: center; line-height: 1; color: #eee; }
.addPhoto_container .box { position: fixed; bottom: 50px; right: 80px; width: 300px; height: 300px; padding: 20px; border-radius: 10px; background-color: #fff; box-sizing: border-box; }
.swiper-button-next,
.swiper-rtl .swiper-button-prev { right: 0px; }
.swiper-button-prev,
.swiper-rtl .swiper-button-next { left: 0; }

@media (max-width: 768px) {
  .item { transition-delay: 0s;}
}